@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-custom-bg;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir Next';
}

:root {
    --primary-color: #FFA724;
}